/* My own custom styling */
@font-face {
    font-family: 'rajbold';
    src: url('../fonts/Rajdhani-Bold.ttf');
}

@font-face {
    font-family: 'rajreg';
    src: url('../fonts/Rajdhani-Regular.ttf');
}

* {
    font-family: 'rajreg';
}

html, body {
    height: 100%;
}

h1, h2, h3 {
    font-family: 'rajbold';
}

.big {
    font-size: 1.4em;
    font-family: 'rajbold';
}

.content {
    padding-top: 60px;
}

footer{
    margin-top: 100px;
    width: 100%;
    padding: 5px 0;
    text-align: center;
}

.qr-grid {
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

.center {
    text-align: center;
}

.small {
    font-size: 0.9em;
}

@media print {
    .no-print {
        display: none;
    }
}

@media screen {
    .printer-only {
        display: none;
    }
}
