/* My own custom styling */
@font-face {
    font-family: 'rajbold';
    src: url('../fonts/Rajdhani-Bold.ttf');
}

@font-face {
    font-family: 'rajreg';
    src: url('../fonts/Rajdhani-Regular.ttf');
}

* {
    font-family: 'rajreg';
}

html, body {
    height: 100%;
}

h1, h2, h3 {
    font-family: 'rajbold';
}

.big {
    font-size: 1.4em;
    font-family: 'rajbold';
}

.content {
    padding-top: 60px;
}

footer{
    margin-top: 30px;
    width: 100%;
    padding: 5px 0;
    text-align: center;
}
